html {
  /* Property below ensures a smooth scroll */
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.top-nav {
  min-height: 80vh;
  background: linear-gradient(
    90deg,
    rgba(158, 181, 17, 0.96) 0%,
    rgba(52, 192, 83, 0.27) 100%
  );
  background: url(./assets/a.jpg) no-repeat center center;
  background-size: cover;
}
a.nav-link {
  font-weight: bold;
  color: green !important;
  letter-spacing: 0.1em;
}
a.nav-link:hover {
  color: red !important;
  /* cursor: pointer !important; */
}
.custom {
  font-size: 1rem;
  font-weight: bold;
}
.sec-title {
  border-bottom: 10px solid #f1bf0d;
  width: 250px;
}
.sec-content i {
  font-size: 5rem;
}
.projects {
  background: rgba(158, 181, 17, 0.32);
}
.contact-icons {
  background: #96af81;
  min-height: 30vh;
  /* border-radius: 50px; */
}
.icons {
  display: flex;
  justify-content: space-around;
}
.icons {
  font-size: 3rem;
}
footer {
  position: relative;
}
.up {
  position: absolute;
  right: 10px;
  top: -20px;
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  font-style: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
